################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsoScroll/Win32/Release/MsoScroll.tlog
/MsoScroll/Win32/Release/stdafx.obj
/MsoScroll/Win32/Release/resources.res
/MsoScroll/Win32/Release/MsoScroll.pch
/MsoScroll/Win32/Release/MsoScroll.obj
/MsoScroll/Win32/Release/MsoScroll.log
/MsoScroll/Win32/Release/MsoScroll.lib
/MsoScroll/Win32/Release/MsoScroll.ipdb
/MsoScroll/Win32/Release/MsoScroll.iobj
/MsoScroll/Win32/Release/MsoScroll.exp
/MsoScroll/Win32/Release/dllmain.obj
/MsoScroll/Win32/Debug/MsoScroll.tlog
/MsoScroll/Win32/Debug/vc141.idb
/MsoScroll/Win32/Debug/stdafx.obj
/MsoScroll/Win32/Debug/resources.res
/MsoScroll/Win32/Debug/MsoScroll.pch
/MsoScroll/Win32/Debug/MsoScroll.obj
/MsoScroll/Win32/Debug/MsoScroll.log
/MsoScroll/Win32/Debug/MsoScroll.lib
/MsoScroll/Win32/Debug/MsoScroll.ilk
/MsoScroll/Win32/Debug/MsoScroll.exp
/MsoScroll/Win32/Debug/dllmain.obj
/MsoScroll/UpgradeLog.htm
/MsoScroll/.vs/MsoScroll/v15
/.vs
/MsoScroll/Win32/Debug/msoscroll.obj.enc
/MsoScroll/Win32/Debug/MsoScroll.Build.CppClean.log
/MsoScroll/MsoScroll.vcxproj.filters
/MsoScroll/MsoScroll.vcxproj.user
/MsoScroll/x64/Release/MsoScroll.tlog
/MsoScroll/x64/Release/stdafx.obj
/MsoScroll/x64/Release/resources.res
/MsoScroll/x64/Release/MsoScroll64.ipdb
/MsoScroll/x64/Release/MsoScroll64.iobj
/MsoScroll/x64/Release/MsoScroll.pch
/MsoScroll/x64/Release/MsoScroll.obj
/MsoScroll/x64/Release/MsoScroll.log
/MsoScroll/x64/Release/MsoScroll.lib
/MsoScroll/x64/Release/MsoScroll.exp
/MsoScroll/x64/Release/dllmain.obj
