################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsoScroll/Win32/Release/MsoScroll.tlog
